/.github/workflows
/.phpunit.cache
/node_modules

/public/build
/public/hot
/public/storage
/public/sitemaps
/storage/*.key
/vendor

.env
.env.backup
.env.production
.phpunit.result.cache

docker-compose.override.yml

Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
package-lock.log
/.fleet
/.idea
/.vscode

/public/css
/public/assets/company
/public/assets/software/logo
/public/assets/service
/public/assets/software/media
/public/js
/public/mix-manifest.json
# But not these files...

/public/assets/vendor

# Package Lock files
/package-lock.json
.env
.env
# webpack.mix.js
.env
composer.lock

/application/vendor